*.cmd_log
*.lso
*.spl
*.stx
*.sym
*.vhi
*.xst
*.log
*.cmd
*.log
*.html
*.exe
*.wdb
*.wdb
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.html
*.ncd
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.xrpt
*.csv
*.txt
*.xrpt
*.twr
*.twx
*.html
*.xml
*.xrpt
*.log

