NET X LOC = J13 | IOSTANDARD = LVCMOS33; 
NET Y LOC = K14 | IOSTANDARD = LVCMOS33; 
NET Z LOC = U17 | IOSTANDARD = LVCMOS33; 
 
NET A LOC = L13 | IOSTANDARD = LVCMOS33; 
NET B LOC = K16 | IOSTANDARD = LVCMOS33; 
NET C LOC = L16 | IOSTANDARD = LVCMOS33; 

NET reset	TIG;
NET reset	LOC=H18 | IOSTANDARD = LVCMOS33;
NET clk	TNM_NET = CLK;
TIMESPEC TS_clk = PERIOD clk 24.0 MHz;
NET clk LOC=K15 | IOSTANDARD = LVCMOS33; 